.box{
  height: 44px;
  width: 70%;
  border-radius: 22px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  min-width: 337px;
  max-width: 561px;
  position: relative;
}
.input{
  background-color: white;
  border: none;
  border-radius: 22px;
  color: #ccc;
  font-size: 16px;
  height: 100%;
  outline: none;
  padding-inline-end: 44px;
  padding-inline-start: 52px;
  position: relative;
  width: 100%;
}
.search{
  width: 26px;
  height: 44px;
  position: absolute;
  left: 15px;
  top: 0;
  background: url('/static/search.svg') no-repeat center;
}
.radio{
  width: 26px;
  height: 44px;
  position: absolute;
  right: 20px;
  top: 0;
  background: url('/static/googlemic_clr_24px.svg') no-repeat center;
}